h1{
color:blue;
text-align: center;

}
    
.btn{

color: white;
text-decoration: none;
border: 1px solid black;
padding: 10px 20px;
background-color: black;
border-radius: 10px;
transition: .3s;

}

.btn:hover{
background-color: white;
color: black;




}








